@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");


// Color and font
$sniglet-font: "Sniglet", cursive;
$rubik: "Rubik", cursive;
$patua: "Patua One", cursive;
$lobster: "lobster", cursive;
$light-black: #2e2c2caf;
$redgradient: linear-gradient(to bottom, #dd2476, #ff512f);
$light-gray: rgba(255, 255, 255, 0.877);


//Column width mixin
//	540px	720px	960px	1140px
$small : 540px;
$medium : 720px;
$large : 960px;
$xlarge : 1140px;

*{
    margin : 0 ;
    padding : 0 ;
    box-sizing : border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    position: absolute;
    width: 100%;
    .container{
        max-width: 1100px;
        padding:15px 20px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        a{
            color: #fff;
            font-family: $sniglet-font;

            &:hover{
                color: #ff512f;
            }
        }
    
        .brand{
            font-size: 28px;
        }

        .menu-btn{
            position: relative;
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            cursor: pointer;

            .line{
                position: absolute;
                width: 30px;
                height: 3px;
                background: #fff;
                transition: all ease-in-out 300ms;
            }

            .line.top{
                transform: translateY(-10px);
                width: 20px;
            }
            .line.bottom{
                transform: translateY(10px);
            }
        }

        .menu-btn.rotate{
            .line{
                transform: translateY(0);
            }
            .line.middle{
                opacity: 0;
            }
            .line.top{
                transform: rotate(225deg);
                width: 30px;
            }
            .line.bottom{
                transform: rotate(-225deg);
            }

        }

        .navs{
            position: absolute;
            font-size: 16px;
            top: 100%;
            width: 100%;
            right: 100%;
            transition: right ease-in-out 300ms;
            ul{
                padding: 15px 0;
                display: flex;
                flex-direction: column;
                background: #000;
                li{
                    margin: 30px 0;
                    text-align: center;
                }

                li.dropdown .dropdown-items{
                    background: #31313177;
                    margin: 10px 0;
                    padding: 10px 0;
                    display: none;
                    justify-content: space-around;
                }

                li.dropdown a:focus + .dropdown-items{
                    display: flex;
                }
            }
        }

        .navs.toggle{
            right: 0;
        }
    }
}

@media screen and (min-width:$medium){
    nav{
        .container{
            a{
                &:hover{
                    color: #000;
                }
            }
            
            .menu-btn{
                display: none;
            }

            .navs{
                position: relative;
                opacity: 1;
                left: 0;
                width: auto;
                ul{
                    padding:0;
                    flex-direction: row;
                    background: none;
                    li{
                        margin:0;
                        margin-left: 40px;
                        a{
                            display: inline-block;
                            padding: 10px 0;
                        }
                    }

                    li.dropdown:hover .dropdown-items{
                        display: flex;
                        a:hover{
                            background: rgba(230, 222, 222, 0.685);
                        }
                    }

                    li.dropdown .dropdown-items{
                        box-shadow: 6px 8px 15px 5px rgba(0, 0, 0, 0.267);
                        position: absolute;
                        display: none;
                        flex-direction: column;
                        background: #ffffff;
                        margin: 0;
                        padding: 0;
                        a{
                            width: 200px;
                            text-align:left;
                            display: inline-block;
                            padding: 15px 20px;
                            color: #000000;
                        }
                    }
                }
            }
        }
    }
}


main{
    background:$redgradient;
    .container{
        font-family: $rubik;
        margin: 0 auto;
        overflow: hidden;
        display: grid;
        grid-template: 50% 50% / 100%;
        padding: 100px 0 180px;
        align-items: center;
        min-height: 100vh;
        max-width: 1100px;

        .main-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .author,h2,.dummy-text{
                color: #fff;
                text-align: center;
            }

            .author{
                text-transform: uppercase;
                font-size: 16px;
                letter-spacing: 4px;
            }
            h2{
                margin-top: 0px;
                font-size: 45px;
                padding: 20px;
            }
            .dummy-text{
                margin-top: 0;
                font-size: 16px;
                width: 80%;
                line-height: 25px;
            }

            button{
                cursor: pointer;
                margin-top: 20px;
                background: #fff;
                color: #000000;
                font-size: 16px;
                font-weight: 600;
                padding: 15px 48px;
                border-radius: 50px;
                border: none;

                &:focus{
                    outline: none;
                    border: none;
                }

                &:hover{
                    outline: none;
                    color: #fff;
                    background:#1f1218;
                }
            }
        }

        .main-img{
            img{
                display: block;
                width: 80%;
                margin:0 auto;
            }
        }
    }
}

@media screen and (min-width:$medium) {
    main{
        .container{
            grid-template: 100% / 60% 40%;
            padding: 0;

            .main-content{
                h2{
                    margin-top: 20px;
                    padding: 0;
                    font-size: 57px;
                }

                .dummy-text{
                    margin-top: 20px;
                }
            }

            .main-img{
                img{
                    width: 100%;
                }
            }
        }
    }
}