@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");


// Color and font
$sniglet-font: "Sniglet", cursive;
$rubik: "Rubik", cursive;
$patua: "Patua One", cursive;
$lobster: "lobster", cursive;
$light-black: #2e2c2caf;
$redgradient: linear-gradient(to bottom, #dd2476, #ff512f);
$light-gray: rgba(255, 255, 255, 0.877);
$apple : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


//Column width mixin
//	540px	720px	960px	1140px
$small : 540px;
$medium : 720px;
$large : 960px;
$xlarge : 1140px;

*{
    margin : 0 ;
    padding : 0 ;
    box-sizing : border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    position: absolute;
    width: 100%;
    .container{
        max-width: 1100px;
        padding:15px 20px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        a{
            color: #fff;
            font-family: $sniglet-font;

            &:hover{
                color: #ff512f;
            }
        }
    
        .brand{
            font-size: 28px;
        }

        .menu-btn{
            position: relative;
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            cursor: pointer;

            .line{
                position: absolute;
                width: 30px;
                height: 3px;
                background: #fff;
                transition: all ease-in-out 300ms;
            }

            .line.top{
                transform: translateY(-10px);
                width: 20px;
            }
            .line.bottom{
                transform: translateY(10px);
            }
        }

        .menu-btn.rotate{
            .line{
                transform: translateY(0);
            }
            .line.middle{
                opacity: 0;
            }
            .line.top{
                transform: rotate(225deg);
                width: 30px;
            }
            .line.bottom{
                transform: rotate(-225deg);
            }

        }

        .navs{
            position: absolute;
            font-size: 16px;
            top: 100%;
            width: 100%;
            right: 100%;
            transition: right ease-in-out 300ms;
            ul{
                padding: 15px 0;
                display: flex;
                flex-direction: column;
                background: #000;
                li{
                    margin: 30px 0;
                    text-align: center;
                }

                li.dropdown .dropdown-items{
                    background: #31313177;
                    margin: 10px 0;
                    padding: 10px 0;
                    display: none;
                    justify-content: space-around;
                }

                li.dropdown:hover .dropdown-items{
                    display: flex;
                }
            }
        }

        .navs.toggle{
            right: 0;
        }
    }
}

@media screen and (min-width:$medium){
    nav{
        .container{
            a{
                &:hover{
                    color: #000;
                }
            }
            
            .menu-btn{
                display: none;
            }

            .navs{
                position: relative;
                opacity: 1;
                left: 0;
                width: auto;
                ul{
                    padding:0;
                    flex-direction: row;
                    background: none;
                    li{
                        margin:0;
                        margin-left: 40px;
                        a{
                            display: inline-block;
                            padding: 10px 0;
                        }
                    }

                    li.dropdown:hover .dropdown-items{
                        display: flex;
                        a:hover{
                            background: rgba(230, 222, 222, 0.685);
                        }
                    }

                    li.dropdown .dropdown-items{
                        box-shadow: 6px 8px 15px 5px rgba(0, 0, 0, 0.267);
                        position: absolute;
                        display: none;
                        flex-direction: column;
                        background: #ffffff;
                        margin: 0;
                        padding: 0;
                        a{
                            width: 200px;
                            text-align:left;
                            display: inline-block;
                            padding: 15px 20px;
                            color: #000000;
                        }
                    }
                }
            }
        }
    }
}


main{
    background:$redgradient;
    .container{
        font-family: $rubik;
        margin: 0 auto;
        overflow: hidden;
        display: grid;
        grid-template: 50% 50% / 100%;
        padding: 100px 0 120px;
        align-items: center;
        min-height: 100vh;
        max-width: 1100px;

        .main-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .author,h2,.dummy-text{
                color: #fff;
                text-align: center;
            }

            .author{
                text-transform: uppercase;
                font-size: 16px;
                letter-spacing: 4px;
            }
            h2{
                margin-top: 0px;
                font-size: 45px;
                padding: 20px;
            }
            .dummy-text{
                margin-top: 0;
                font-size: 16px;
                width: 80%;
                line-height: 25px;
            }

            button{
                cursor: pointer;
                margin-top: 20px;
                background: #fff;
                color: #000000;
                font-size: 16px;
                font-weight: 600;
                padding: 15px 48px;
                border-radius: 50px;
                border: none;

                &:focus{
                    outline: none;
                    border: none;
                }

                &:hover{
                    outline: none;
                    color: #fff;
                    background:#1f1218;
                }
            }
        }

        .main-img{
            img{
                display: block;
                width: 80%;
                margin:0 auto;
            }
        }
    }
}

@media screen and (min-width:$medium) {
    main{
        .container{
            grid-template: 100% / 60% 40%;
            padding: 0;

            .main-content{
                h2{
                    margin-top: 20px;
                    padding: 0;
                    font-size: 57px;
                }

                .dummy-text{
                    margin-top: 20px;
                }
            }

            .main-img{
                img{
                    width: 100%;
                }
            }
        }
    }
}

// About section
section.about{
    background: #dd2476;

    .container{
        max-width: 1100px;
        padding: 70px 0;

        .about-img img, .about-content{
            border-radius: 3px;
        }

        .about-img{
            display: flex;
            img{
                margin: 0 auto;
                width: 80%;
            }
        }

        .about-content{
            background: #fff;
            margin: 50px auto 0;
            width: 80%;
            padding: 60px 20px;
            box-shadow: 4px 4px 18px 5px #00000073;
            h3, p{
                font-family: $rubik;
                padding: 0 10px;
            }

            h3{
                font-size: 32px;
                margin-bottom: 40px;
            }

            p{
                color: #363636;
                font-size: 0.9em;
                line-height: 25px;
            }
        }
    }
}

@media screen and (min-width:$medium) {
    section.about{
        .container{
            padding: 70px 20px;
            display:grid;
            margin: 0 auto;
            grid-template-columns: 150px 1fr 100px 1fr 1fr 1fr 1fr;
            grid-template-rows: 50px 210px 130px 130px 80px;
            .about-img{
                grid-column: 1/4;
                grid-row: 1/6;
                display: flex;
                flex-direction: column;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .about-content{
                width: 100%;
                grid-column: 3/8;
                grid-row: 2/5;
                padding: 0;
                margin: 0;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;

                h3, p{
                    padding: 0 40px;
                }
            }
        }
    }
}


// Counter
section.counter{
    width: 100%;
    background: #4C4C4C;
    .container{
        margin: 0 auto;
        padding: 150px 20px;
        max-width: 1100px;
        text-align: center;

        .text-content{
            margin-bottom: 50px;
            h3,p{
                color: #fff;
                font-weight: 200;
            }
            h3{
                font-family:$patua;
                font-size:32px;
            }
            p{
                font-family: $rubik;
                font-size: 14px;
            }
        }

        .counter-wrapper{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 20px;

            .counter-item{
                background: #fff;
                border-radius: 5px;
                padding: 20px 10px;
                width: 80%;
                margin: 0 auto;
                box-shadow:1px 2px 25px 0 rgba(255, 0, 0, 0.308);

                h2{
                    font-family: $apple;
                    font-weight: 500;
                    font-size: 50px;
                    padding-bottom: 5px;
                    line-height: 65px;
                    color: #FF6347;
                }

                p{
                    padding-bottom: 10px;
                    font-family: $patua;
                }
            }
        }
    }
}

@media screen and (min-width:$small){
    section.counter{
        .container{
            .counter-wrapper{      
                grid-template-columns: repeat(2,1fr);
                .counter-item{
                    width: 100%;
                }
                .counter-item h2{
                    font-size: 65px;
                }
            }
        }
    }
}


@media screen and (min-width:$large){
    section.counter{
        .container{
            .counter-wrapper{      
                grid-template-columns: repeat(4,1fr);
                .counter-item h2{
                    font-size: 65px;
                }
            }
        }
    }
}

// products section
section.products{
    padding: 30px 20px;

    .container{
        max-width: 1100px;
        margin: 0 auto;
        font-family: $apple;

        .text-content{
            text-align: center;
            margin-bottom: 50px;
            h3{
                font-family: $lobster;
                font-size: 40px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            p{
                font-size: 20px;
                color: rgb(83, 82, 82);
            }
        }

        .cards-wrapper{
            display: grid;
            .card{
                text-align: center;
                background: #F6FCFC;
                border: 1px solid rgb(202, 202, 202);
                padding: 20px 70px;
                margin: 0 auto 50px;
                .card-title{
                    font-weight: 500;
                    font-size: 20px;
                    padding: 30px 0;
                }
                .description{
                    padding: 40px 0;
                }

                .price{
                    font-size: 47px;
                    font-weight: 500;
                    padding: 40px 0;
                }

                button{
                    color: #fff;
                    background: #343A40;
                    border: none;
                    padding: 15px 48px;
                    border-radius: 30px;
                    margin-bottom: 50px;
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (min-width:$medium){
    section.products{
        .container{
            .cards-wrapper{
                grid-template-columns: repeat(2,1fr);
                grid-gap: 20px;
                .card:nth-last-of-type(1){
                    grid-column: 1/span 2;
                    width: 50%;
                }
            }
        }
    }
}

@media screen and (min-width:$large){
    section.products{
        .container{
            .cards-wrapper{
                grid-template-columns: repeat(3,1fr);
                .card:nth-last-of-type(1){
                    grid-column: 3/4;
                    width: 100%;
                }
            }
        }
    }
}

//Download Section
section.download{
    background: $redgradient;
    padding: 70px 20px;
    .container{
        text-align: center;
        max-width: 1100px;
        margin: 0 auto;
        font-family: $apple;
        h3, .description{
            color:#fff;
        }

        h3{
            font-size: 40px;
        }

        .description{
            font-size: 20px;
            padding: 40px 30px;
        }

        .buttons{
            display: flex;
            justify-content: center;
            button{
                cursor: pointer;
                margin: 0 30px;
                display: flex;  
                align-items:center;
                text-align: left;
                padding: 20px 25px;  
                border-radius: 40px;
                outline: none;
                border: none;
                .text{
                    margin-left: 20px;
                }

                .text p:nth-of-type(1){
                    font-weight: 500;
                    font-size: 27px;
                }
            }
        }
    }
}
@media screen and(max-width:$medium){
    section.download{
        .container{
            .description{
                font-size: 1.2em;
            }
        }
        .container .buttons {
           flex-direction: column;
           button{
                width: 50%;
                margin: 0 auto;
                margin-bottom: 30px;
           }
        }
    }
}

