@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  position: absolute;
  width: 100%;
}

nav .container {
  max-width: 1100px;
  padding: 15px 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

nav .container a {
  color: #fff;
  font-family: "Sniglet", cursive;
}

nav .container a:hover {
  color: #ff512f;
}

nav .container .brand {
  font-size: 28px;
}

nav .container .menu-btn {
  position: relative;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

nav .container .menu-btn .line {
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

nav .container .menu-btn .line.top {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  width: 20px;
}

nav .container .menu-btn .line.bottom {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

nav .container .menu-btn.rotate .line {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav .container .menu-btn.rotate .line.middle {
  opacity: 0;
}

nav .container .menu-btn.rotate .line.top {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  width: 30px;
}

nav .container .menu-btn.rotate .line.bottom {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

nav .container .navs {
  position: absolute;
  font-size: 16px;
  top: 100%;
  width: 100%;
  right: 100%;
  -webkit-transition: right ease-in-out 300ms;
  transition: right ease-in-out 300ms;
}

nav .container .navs ul {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #000;
}

nav .container .navs ul li {
  margin: 30px 0;
  text-align: center;
}

nav .container .navs ul li.dropdown .dropdown-items {
  background: #31313177;
  margin: 10px 0;
  padding: 10px 0;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .container .navs ul li.dropdown:hover .dropdown-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .container .navs.toggle {
  right: 0;
}

@media screen and (min-width: 720px) {
  nav .container a:hover {
    color: #000;
  }
  nav .container .menu-btn {
    display: none;
  }
  nav .container .navs {
    position: relative;
    opacity: 1;
    left: 0;
    width: auto;
  }
  nav .container .navs ul {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: none;
  }
  nav .container .navs ul li {
    margin: 0;
    margin-left: 40px;
  }
  nav .container .navs ul li a {
    display: inline-block;
    padding: 10px 0;
  }
  nav .container .navs ul li.dropdown:hover .dropdown-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .container .navs ul li.dropdown:hover .dropdown-items a:hover {
    background: rgba(230, 222, 222, 0.685);
  }
  nav .container .navs ul li.dropdown .dropdown-items {
    -webkit-box-shadow: 6px 8px 15px 5px rgba(0, 0, 0, 0.267);
            box-shadow: 6px 8px 15px 5px rgba(0, 0, 0, 0.267);
    position: absolute;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #ffffff;
    margin: 0;
    padding: 0;
  }
  nav .container .navs ul li.dropdown .dropdown-items a {
    width: 200px;
    text-align: left;
    display: inline-block;
    padding: 15px 20px;
    color: #000000;
  }
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(#dd2476), to(#ff512f));
  background: linear-gradient(to bottom, #dd2476, #ff512f);
}

main .container {
  font-family: "Rubik", cursive;
  margin: 0 auto;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
  -ms-grid-columns: 100%;
      grid-template: 50% 50% / 100%;
  padding: 100px 0 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  max-width: 1100px;
}

main .container .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .main-content .author, main .container .main-content h2, main .container .main-content .dummy-text {
  color: #fff;
  text-align: center;
}

main .container .main-content .author {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4px;
}

main .container .main-content h2 {
  margin-top: 0px;
  font-size: 45px;
  padding: 20px;
}

main .container .main-content .dummy-text {
  margin-top: 0;
  font-size: 16px;
  width: 80%;
  line-height: 25px;
}

main .container .main-content button {
  cursor: pointer;
  margin-top: 20px;
  background: #fff;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 48px;
  border-radius: 50px;
  border: none;
}

main .container .main-content button:focus {
  outline: none;
  border: none;
}

main .container .main-content button:hover {
  outline: none;
  color: #fff;
  background: #1f1218;
}

main .container .main-img img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  main .container {
    -ms-grid-rows: 100%;
    -ms-grid-columns: 60% 40%;
        grid-template: 100% / 60% 40%;
    padding: 0;
  }
  main .container .main-content h2 {
    margin-top: 20px;
    padding: 0;
    font-size: 57px;
  }
  main .container .main-content .dummy-text {
    margin-top: 20px;
  }
  main .container .main-img img {
    width: 100%;
  }
}

section.about {
  background: #dd2476;
}

section.about .container {
  max-width: 1100px;
  padding: 70px 0;
}

section.about .container .about-img img, section.about .container .about-content {
  border-radius: 3px;
}

section.about .container .about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.about .container .about-img img {
  margin: 0 auto;
  width: 80%;
}

section.about .container .about-content {
  background: #fff;
  margin: 50px auto 0;
  width: 80%;
  padding: 60px 20px;
  -webkit-box-shadow: 4px 4px 18px 5px #00000073;
          box-shadow: 4px 4px 18px 5px #00000073;
}

section.about .container .about-content h3, section.about .container .about-content p {
  font-family: "Rubik", cursive;
  padding: 0 10px;
}

section.about .container .about-content h3 {
  font-size: 32px;
  margin-bottom: 40px;
}

section.about .container .about-content p {
  color: #363636;
  font-size: 0.9em;
  line-height: 25px;
}

@media screen and (min-width: 720px) {
  section.about .container {
    padding: 70px 20px;
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    -ms-grid-columns: 150px 1fr 100px 1fr 1fr 1fr 1fr;
        grid-template-columns: 150px 1fr 100px 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 50px 210px 130px 130px 80px;
        grid-template-rows: 50px 210px 130px 130px 80px;
  }
  section.about .container .about-img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.about .container .about-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  section.about .container .about-content {
    width: 100%;
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3/8;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.about .container .about-content h3, section.about .container .about-content p {
    padding: 0 40px;
  }
}

section.counter {
  width: 100%;
  background: #4C4C4C;
}

section.counter .container {
  margin: 0 auto;
  padding: 150px 20px;
  max-width: 1100px;
  text-align: center;
}

section.counter .container .text-content {
  margin-bottom: 50px;
}

section.counter .container .text-content h3, section.counter .container .text-content p {
  color: #fff;
  font-weight: 200;
}

section.counter .container .text-content h3 {
  font-family: "Patua One", cursive;
  font-size: 32px;
}

section.counter .container .text-content p {
  font-family: "Rubik", cursive;
  font-size: 14px;
}

section.counter .container .counter-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

section.counter .container .counter-wrapper .counter-item {
  background: #fff;
  border-radius: 5px;
  padding: 20px 10px;
  width: 80%;
  margin: 0 auto;
  -webkit-box-shadow: 1px 2px 25px 0 rgba(255, 0, 0, 0.308);
          box-shadow: 1px 2px 25px 0 rgba(255, 0, 0, 0.308);
}

section.counter .container .counter-wrapper .counter-item h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 50px;
  padding-bottom: 5px;
  line-height: 65px;
  color: #FF6347;
}

section.counter .container .counter-wrapper .counter-item p {
  padding-bottom: 10px;
  font-family: "Patua One", cursive;
}

@media screen and (min-width: 540px) {
  section.counter .container .counter-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  section.counter .container .counter-wrapper .counter-item {
    width: 100%;
  }
  section.counter .container .counter-wrapper .counter-item h2 {
    font-size: 65px;
  }
}

@media screen and (min-width: 960px) {
  section.counter .container .counter-wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  section.counter .container .counter-wrapper .counter-item h2 {
    font-size: 65px;
  }
}

section.products {
  padding: 30px 20px;
}

section.products .container {
  max-width: 1100px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section.products .container .text-content {
  text-align: center;
  margin-bottom: 50px;
}

section.products .container .text-content h3 {
  font-family: "lobster", cursive;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

section.products .container .text-content p {
  font-size: 20px;
  color: #535252;
}

section.products .container .cards-wrapper {
  display: -ms-grid;
  display: grid;
}

section.products .container .cards-wrapper .card {
  text-align: center;
  background: #F6FCFC;
  border: 1px solid #cacaca;
  padding: 20px 70px;
  margin: 0 auto 50px;
}

section.products .container .cards-wrapper .card .card-title {
  font-weight: 500;
  font-size: 20px;
  padding: 30px 0;
}

section.products .container .cards-wrapper .card .description {
  padding: 40px 0;
}

section.products .container .cards-wrapper .card .price {
  font-size: 47px;
  font-weight: 500;
  padding: 40px 0;
}

section.products .container .cards-wrapper .card button {
  outline: none;
  color: #fff;
  background: #343A40;
  border: none;
  padding: 15px 48px;
  border-radius: 30px;
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: bold;
}

@media screen and (min-width: 720px) {
  section.products .container .cards-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  section.products .container .cards-wrapper .card {
    padding: 20px;
  }
  section.products .container .cards-wrapper .card .description {
    padding: 40px;
  }
  section.products .container .cards-wrapper .card:nth-last-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
    width: 50%;
  }
}

@media screen and (min-width: 960px) {
  section.products .container .cards-wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  section.products .container .cards-wrapper .card:nth-last-of-type(1) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    width: 100%;
  }
}

section.download {
  background: -webkit-gradient(linear, left top, left bottom, from(#dd2476), to(#ff512f));
  background: linear-gradient(to bottom, #dd2476, #ff512f);
  padding: 70px 20px;
}

section.download .container {
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section.download .container h3, section.download .container .description {
  color: #fff;
}

section.download .container h3 {
  font-size: 40px;
}

section.download .container .description {
  font-size: 20px;
  padding: 40px 30px;
}

section.download .container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.download .container .buttons button {
  cursor: pointer;
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding: 20px 25px;
  border-radius: 40px;
  outline: none;
  border: none;
}

section.download .container .buttons button .text {
  margin-left: 20px;
}

section.download .container .buttons button .text p:nth-of-type(1) {
  font-weight: 500;
  font-size: 27px;
}

@media screen and (max-width: 720px) {
  section.download .container .description {
    font-size: 1.2em;
  }
  section.download .container .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.download .container .buttons button {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.user-say {
  padding: 50px 20px;
}

.user-say .container {
  max-width: 1100px;
  margin: 0 auto;
}

.user-say .container .text-content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

.user-say .container .text-content h3 {
  font-size: 38px;
  font-weight: 500;
}

.user-say .container .text-content p {
  font-size: 15px;
}

.user-say .container .cards-wrapper {
  display: -ms-grid;
  display: grid;
}

.user-say .container .cards-wrapper .card {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 80%;
  margin: 0 auto;
  padding: 35px 35px;
  -webkit-box-shadow: 1px 1px 15px 0px rgba(49, 49, 49, 0.26);
          box-shadow: 1px 1px 15px 0px rgba(49, 49, 49, 0.26);
  margin-bottom: 40px;
  -webkit-transition: background-color ease-in-out 350ms;
  transition: background-color ease-in-out 350ms;
}

.user-say .container .cards-wrapper .card .card-img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 40px;
}

.user-say .container .cards-wrapper .card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-say .container .cards-wrapper .card h4 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

.user-say .container .cards-wrapper .card h4 + p {
  margin-bottom: 20px;
}

.user-say .container .cards-wrapper .card h4 + p, .user-say .container .cards-wrapper .card .position, .user-say .container .cards-wrapper .card .contact {
  color: #828080;
  -webkit-transition: color ease-in-out 200ms;
  transition: color ease-in-out 200ms;
}

.user-say .container .cards-wrapper .card .contact {
  font-size: 25px;
}

.user-say .container .cards-wrapper .card:hover {
  background: #ff512f;
}

.user-say .container .cards-wrapper .card:hover h4 + p, .user-say .container .cards-wrapper .card:hover .position, .user-say .container .cards-wrapper .card:hover .contact {
  color: #fff;
}

@media screen and (min-width: 720px) {
  section.user-say .container .cards-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }
  section.user-say .container .cards-wrapper .card {
    width: 100%;
  }
  section.user-say .container .cards-wrapper .card:nth-of-type(3) {
    grid-column: span 2;
    width: 50%;
  }
}

@media screen and (min-width: 960px) {
  section.user-say .container .cards-wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  section.user-say .container .cards-wrapper .card:nth-of-type(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    width: 100%;
  }
}

footer {
  background: #2F2F2F;
  padding: 90px 100px;
}

footer .container {
  max-width: 1100px;
  margin: 0 auto;
}

footer .container div {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 30px;
}

footer .container div h3 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 28px;
}

footer .container div p {
  color: #919191;
  line-height: 25px;
}

footer .container .about-us p:nth-of-type(1) {
  margin-bottom: 40px;
}

footer .container .about-us .orange {
  color: #E74C2E;
}

footer .container .news-letter p {
  margin-bottom: 5px;
}

footer .container .news-letter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .news-letter input {
  height: 40px;
  width: 80%;
  font-size: 17px;
  padding: 0 10px;
  background: #343A40;
  color: #fff;
  border: none;
}

footer .container .news-letter button {
  background: -webkit-gradient(linear, left top, left bottom, from(#dd2476), to(#ff512f));
  background: linear-gradient(to bottom, #dd2476, #ff512f);
  padding: 8px;
  color: #2F2F2F;
  font-size: 20px;
  border: none;
}

footer .container .follow-us p {
  margin-bottom: 15px;
}

footer .container .follow-us .social-media {
  color: #DD2476;
  font-size: 20px;
}

footer .container .follow-us .social-media i {
  margin-right: 10px;
}

@media screen and (min-width: 960px) {
  footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 5fr 2fr;
        grid-template-columns: 4fr 5fr 2fr;
    grid-gap: 20px;
  }
}
/*# sourceMappingURL=main.css.map */